<mat-stepper
  selectedIndex="1"
  #stepper
  [orientation]="(stepperOrientation | async)!"
>
  <mat-step label="Login" completed="true" editable="false"> </mat-step
  ><mat-step label="Shipping Address" editable="false">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <h2>Shipping Address</h2>
          <mat-list>
            <mat-list-item>
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="Full Name"
                  formControlName="fullName"
                  required
                />
                <mat-error> This field is required </mat-error>
              </mat-form-field>
            </mat-list-item>
            <mat-list-item>
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="Address"
                  formControlName="address"
                  required
                />
                <mat-error> This field is required </mat-error>
              </mat-form-field>
            </mat-list-item>
            <mat-list-item>
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="City"
                  formControlName="city"
                  required
                />
                <mat-error> This field is required </mat-error>
              </mat-form-field>
            </mat-list-item>
            <mat-list-item>
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="Country"
                  formControlName="country"
                  required
                />
                <mat-error> This field is required </mat-error>
              </mat-form-field>
            </mat-list-item>
            <mat-list-item>
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="Postal Code"
                  formControlName="postalCode"
                  required
                />
                <mat-error> This field is required </mat-error>
              </mat-form-field>
            </mat-list-item>
            <mat-list-item>
              <button
                type="button"
                (click)="chooseLocation()"
                color="secondary"
                mat-raised-button
                mat-button
                style="margin-top: -170px;"
                aria-placeholder="choose on map"
              >
              Choose On Map
              </button>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d124425.98934776633!2d77.53118248796166!3d12.951865660919077!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae115a7d2a0867%3A0x503ce7697d08d557!2sMphasis%20Limited!5e0!3m2!1sen!2sin!4v1702228807997!5m2!1sen!2sin" width="800" height="150" style="border:0;padding-top:20px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </mat-list-item>
            <mat-list-item>
              <button
                class="full-width"
                color="primary"
                mat-raised-button
                mat-button
              >
                Next
              </button>
            </mat-list-item>
          </mat-list>
        </form>
      </mat-card-content>
    </mat-card>

    <div></div>
  </mat-step>
  <mat-step label="Payment Method" editable="false" completed="false">
  </mat-step>
  <mat-step label="Place Order" editable="false" completed="false"> </mat-step>
</mat-stepper>
