

    <div className="about-us-container">
      
        <h2>About Us</h2>
      </div>

      <div >
        <p>Welcome to Foodie! We are passionate about delivering delicious meals right to your doorstep.</p>
      </div>

      <div>
        <p>Our mission is to provide a seamless and enjoyable dining experience right at your doorstep. Whether you're craving your favorite local cuisine or exploring new flavors, we've got you covered.</p>
      </div>

      <ul>
        <li>Wide Variety: Explore a diverse range of cuisines and dishes from the best local restaurants.</li>
        <li>Convenience: Order with ease from the comfort of your home or office using our user-friendly platform.</li>
        <li>Reliable Delivery: Enjoy timely and reliable delivery services, ensuring your food arrives fresh and hot.</li>
        <li>Quality Assurance: We partner with top-rated restaurants to ensure the highest quality ingredients and preparation.</li>
      </ul>

      <div class="container">
        <div class="details">
          <!-- feedback.component.html -->
          <h1
            style="
              align-items: center;
      
              font-size: 3em; /* Adjust the size as needed */
              font-weight: bold;
              text-align: center;
            "
          >
            CONTACT US
          </h1>
          <form action="http://httpbin.org/post" method="POST">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required />
      
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required />
      
            <label for="comment">Comments:</label>
            <textarea id="comment" name="comment" required></textarea>
      
            <div class="issue-dropdown">
                <label for="issueType">Select Type of Issue:</label><br />
                <select id="issueType" name="issueType">
                  <option value="delivery">Delivery Issue</option>
                  <option value="quality">Quality Concern</option>
                  <option value="customer-service">Customer Service</option>
                  <option value="other">Other</option>
                  <!-- Add more options as needed -->
                </select>
              </div>
              
      
            <label for="address">Address:</label>
            <input type="text" id="address" name="address" />
      
            <button type="submit" class="Submit">
                <a [routerLink]="['/successful']" [queryParams]="{ returnUrl: returnUrl }">SUBMIT</a></button>
          </form>
        </div>
      </div>

      <div>
        <h2>Contact Us</h2>
      </div>

      <div>
        <p>If you have any questions or inquiries, feel free to reach out to our customer support:</p>
        <p>Name: Mohan Pallukaru</p>
        <p>Email: mohan&#64;30.com</p>
        <p>Phone: +1 (123) 456-7890</p>
      </div>
    
